table {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 40px;
}

mat-header-cell {
    display:flex;
    justify-content:flex-end;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}

td, th {
    text-align: center !important;
    color:black;
    font-size: inherit;
}

.mat-row:nth-child(odd) {
    background-color: whitesmoke;
}